.dist_rouge {
    display:inline-block;
    background-image: url('../img/rouge.png');
    background-repeat: no-repeat;
    text-indent: 20px;
    background-position: 8px;
    background-size: 5px 18px;
}

.dist_bleu {
    display:inline-block;
    background-image: url('../img/bleu.png');
    background-repeat: no-repeat;
    text-indent: 20px;
    background-position: 8px;
    background-size: 5px 18px;
}

.dist_blanc {
    display:inline-block;
    background-image: url('../img/blanc.png');
    background-repeat: no-repeat;
    text-indent: 20px;
    background-position: 8px;
    background-size: 5px 18px;
}

#dist_rouge {
    background-image: url('../img/rouge.png');
    background-repeat: no-repeat;
    text-indent: 20px;
    background-position: 8px;
    background-size: 5px 18px;
}
#dist_bleu {
    background-image: url('../img/bleu.png');
    background-repeat: no-repeat;
    text-indent: 20px;
    background-position: 8px;
    background-size: 5px 18px;
}
#dist_blanc {
    background-image: url('../img/blanc.png');
    background-repeat: no-repeat;
    text-indent: 20px;
    background-position: 8px;
    background-size: 5px 18px;
}
#num_cible {
    font-size: 1.2em;
￼    font-weight: bolder;
}
